.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &.scroll {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    margin: 0 -1rem;
    padding: 0 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  &.tabs {
    width: auto;
    gap: 0;
    overflow: hidden;
    border-bottom: 2px solid var(--primary-color);

    .button {
      border-radius: 0;

      &:first-child {
        border-top-left-radius: 0.5rem;
      }

      &:last-child {
        border-top-right-radius: 0.5rem;
      }
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  height: 46px;
  border-radius: 0.25em;
  border: 1px solid transparent;
  transition: all .3s ease;
  white-space: nowrap;
}

.icon {
  padding: 0.5rem 0.75rem;
}

.large {
  font-size: 1.125rem;
  padding: 0.75rem 2rem;
  height: 56px;
}

.primary {
  background: var(--primary-color);
  color: var(--primary-color-text);

  &:hover {
    background: var(--primary-color-hover);
  }
}

.secondary {
  background: var(--secondary-color);
  color: var(--secondary-color-text);

  &:hover {
    background: var(--secondary-color-hover);
  }
}

.link {
  color: var(--heading-color);
  padding: 0.5rem 1rem;

  &.large {
    padding: 0.75rem 1rem;
  }

  &:hover {
    text-decoration: underline;
  }
}
