:root {
  --heading-font: 'DM Sans', Arial, sans-serif;
  --body-font: Arial, sans-serif;

  --success-color: #29a027;
  --warning-color: #fc0;
  --error-color: #dd2121;
  --info-color: #1164cc;

  --primary-color: #dd2121;
  --primary-color-hover: #b01a1a;
  --primary-color-text: #fff;

  --secondary-color: #aaa;
  --secondary-color-hover: #888;
  --secondary-color-text: #121110;

  --background-color: #fff;
  --heading-color: #000;
  --text-color: #333;
  --border-color: #ddd;
  --border-color-hover: #aaa;

  --header-color: #fff;
  --navigation-color: rgba(0,0,0,.05);
  --navigation-color-text: inherit;
  --navigation-color-hover: rgba(0,0,0,.1);
  --navigation-color-hover-text: inherit;

  --svg-fill: #000;
  --block-color: #f7f7f7;

  &.dark {
    --background-color: #0d0d0d;
    --heading-color: #fff;
    --text-color: #bdc1c6;
    --border-color: #2b2b2b;
    --border-color-hover: #555;

    --header-color: #0d0d0d;
    --navigation-color: #202124;
    --navigation-color-text: #fff;
    --navigation-color-hover: #fff;
    --navigation-color-hover-text: #312e2c;

    --svg-fill: #fff;
    --block-color: #1a1a1a;
  }
}
