.section {
  display: block;
  text-align: left;
  scroll-margin-top: 110px;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.content {
  display: grid;
  gap: 1.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 768px) and (max-width: 1023px)  {
    gap: 2rem
  }

  @media (min-width: 1024px) {
    gap: 5rem;
  }
}

.image {
  display: flex;
  justify-content: flex-start;

  @media (min-width: 768px) {
    justify-content: center;
  }

  img {
    border-radius: 1rem;
  }
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-family: var(--heading-font);
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary-color);

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 1.375rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-family: var(--heading-font);
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--heading-color);

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }

  p {
    @media (min-width: 768px) {
      font-size: 1.125rem;
    } 
  }

  .buttons {
    justify-content: flex-start;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }
}
