.toggle {
  position: relative;
  margin: 1.25rem 0;
  display: flex;
  width: 76px;

  &:hover {
    cursor: pointer;
  }

  &.animate {

    span {
      transition: all 0.3s;

      &:after {
        transition: all 0.3s;
      }
    }

    svg {
      transition: all 0.3s;
    }
  }

  &.light {
    span {

      &:after {
        background: #ffd43b;
        left: 40px;
      }
    }

    svg {
      &.sun {
        opacity: 1;
      }

      &.moon {
        opacity: 0;
      }
    }
  }

  &.dark {
    span {

      &:after {
        background: #74c0fc;
        left: 4px;
      }
    }

    svg {
      left: 10px;

      &.sun {
        opacity: 0;
      }

      &.moon {
        opacity: 1;
      }
    }
  }

  span {
    position: relative;
    border-radius: 20px;
    display: block;
    height: 40px;
    width: 100%;
    background: var(--navigation-color);

    &:after {
      content: '';
      border-radius: 16px;
      height: 32px;
      width: 32px;
      position: absolute;
      top: 4px;
      z-index: 1;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 46px;
    transform: translateY(-50%);
    color: #fff;
    z-index: 1;
    opacity: 0;
  }
}
